{% extends 'accounts/index.html' %}

{% block body_block %}

<p>
    <a href={% url 'list_pages' %}> Volver </a>
</p>

<p>
    <li>Titulo: {{object.titulo}}</li>
    <li>Subtitulo: {{object.subtitulo}}</li>
    <li>Cuerpo: {{object.cuerpo | safe }}</li>
    <li>Autor: {{object.autor}}</li>
    <li>Fecha de creación: {{object.fecha}}</li> 
    <li>Imagen:{% if object.imagen %}
        <img src="{{object.imagen.url}}" width="300" height = "200" ></li> 
        {% else %}
        {% endif %}
</p>

{% endblock body_block %}